:root {
  --main-blue: #005eb2;
  --main-yellow: #ffcc00;
  --text-light: aliceblue;
}

.header {
  padding-top: 5%;
}

.company-slogan-button {
  margin-top: 10%;
}

.slogan {
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}

.connect-button {
  width: 200px;
  height: 50px;
  background-color: var(--main-blue);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-weight: 500;
  color: var(--text-light);
}

.connect-button:hover {
  background-color: transparent;
  border: 1px solid var(--main-blue);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  color: var(--main-blue);
}

.phone-icon-button {
  position: fixed;
  width: 70px;
  height: 70px;
  left: calc(100% - 150px);
  background-color: var(--main-yellow);
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  color: var(--main-blue);
}

.phone-icon-button:hover {
  background-color: var(--text-light);
  border: 1px solid var(--main-blue);
  transition: all 200ms ease-in-out;
}

.main-modal {
  background-color: #ededf0;
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
  position: fixed;
  top: 18%;
  padding: 20px;
  width: 75%;
  height: 65%;
  margin-left: -40%;
  text-align: left;
  z-index: 1;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.exit {
  float: right;
  border: none;
  color: var(--main-blue);
}

.exit:hover {
  color: var(--main-yellow);
  transition: all 200ms ease-in-out;
}

.question-and-form {
  display: inline-block;
}

.number-bar {
  width: 50%;
}

.callMe-button {
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  color: var(--text-light);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.callMe-button:hover {
  background-color: transparent;
  color: var(--main-blue);
  transition: all 200ms ease-in-out;
}

.text-under-form {
  opacity: 0.8;
}

#carouselExampleAutoplaying {
  z-index: -1;
}
