:root {
  --main-blue: #005eb2;
  --main-yellow: #ffcc00;
  --text-light: aliceblue;
}

.header-company-photo {
  width: 600px;
  height: 420px;
}

div.company-slogan-button {
  margin-top: 5%;
  margin-left: -100px;
}

.company-name {
  font-size: 18px;
}

.slogan {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.connect-button {
  width: 200px;
  height: 60px;
  background-color: var(--main-blue);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-light);
}

.connect-button:hover {
  background-color: transparent;
  border: 1px solid var(--main-blue);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  color: var(--main-blue);
}

.phone-icon-button {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 88%;
  top: 78%;
  background-color: var(--main-yellow);
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  color: var(--main-blue);
}

.phone-icon-button:hover {
  background-color: var(--text-light);
  border: 1px solid var(--main-blue);
  transition: all 200ms ease-in-out;
}

.main-modal {
  background-color: #ededf0;
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
  position: fixed;
  top: 17%;
  padding: 20px;
  width: 85%;
  height: 65%;
  margin-left: -50%;
  text-align: left;
  z-index: 1;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.exit {
  float: right;
  border: none;
  color: var(--main-blue);
  margin-right: 5px;
}

.exit:hover {
  color: var(--main-yellow);
  transition: all 200ms ease-in-out;
}

.modal-main-text {
  margin-top: 2rem;
}

.input-form {
  margin-top: 4%;
}

.question-and-form {
  display: inline-block;
}

.number-bar {
  width: 60%;
  height: 52px;
}

.callMe-button {
  background-color: var(--main-blue);
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  color: var(--text-light);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 13px 20px;
  font-size: 17px;
}

.callMe-button:hover {
  background-color: transparent;
  color: var(--main-blue);
  transition: all 200ms ease-in-out;
}

.text-under-form {
  opacity: 0.8;
  font-size: 17px;
}

#carouselExampleAutoplaying {
  z-index: -1;
}

/*!!! ADAPTIVE !!!*/
@media (max-width: 1375px) {
  div.header {
    padding-top: 3%;
  }
}

@media (max-width: 1220px) {
  .modal-main-text {
    font-size: 23px;
  }
}

@media (max-width: 1190px) {
  .header-company-photo {
    width: 550px;
    height: 400px;
  }

  div.company-slogan-button {
    margin-left: -50px;
  }

  .company-name {
    font-size: 16px;
  }

  .main-modal {
    height: 65%;
  }
}

@media (max-width: 1075px) {
  div.col-4.company-slogan-button {
    padding: 0 0;
  }

  .main-modal {
    top: 19%;
    margin-left: -53%;
  }
}

@media (max-width: 992px) {
  .header-company-photo {
    width: 450px;
    height: 350px;
  }

  div.company-slogan-button {
    margin-left: 0;
  }

  .company-name {
    font-size: 18px;
    text-align: center;
  }

  div.row.mt-3.slogan {
    margin-right: 0;
    margin-left: 14px;
    text-align: center;
    font-size: 25px;
  }

  .connect-button {
    width: 190px;
    font-size: 16px;
    margin-left: 28px;
  }

  .main-modal {
    margin-left: -54%;
    top: 23%;
  }
}

@media (max-width: 976px) {
  .modal-main-text {
    font-size: 21px;
  }

  .callMe-button {
    font-size: 15px;
  }

  .text-under-form {
    font-size: 14px;
  }
}

@media (max-width: 935px) {
  .phone-icon-button {
    width: 55px;
    height: 55px;
    top: 70%;
  }
}

@media (max-width: 802px) {
  .header-company-photo {
    width: 420px;
    height: 315px;
  }

  div.row.mt-5.company-name {
    font-size: 13.5px;
    text-align: left;
    margin-left: -18px;
  }

  div.row.mt-3.slogan {
    margin-left: 0px;
    font-size: 23px;
  }

  .connect-button {
    width: 180px;
    height: 50px;
    font-size: 14px;
    margin-left: 10px;
  }

  .main-modal {
    margin-left: -57%;
    top: 23%;
  }
}

@media (max-width: 768px) {
  div.header {
    padding-top: 1%;
  }

  .company-photo-carousel {
    margin-left: -15px;
  }

  .header-company-photo {
    width: 380px;
    height: 300px;
  }

  div.company-slogan-button {
    margin-top: 0;
  }

  div.row.mt-5.company-name {
    text-align: center;
    margin-left: -12px;
  }

  div.row.mt-3.slogan {
    margin-left: 0px;
    font-size: 25px;
  }

  .connect-button {
    margin-left: -17px;
  }

  .phone-icon-button {
    top: 80%;
  }

  .main-modal {
    height: 45%;
    margin-left: -56%;
  }
}

@media (max-width: 698px) {
  .modal-main-text {
    font-size: 17px;
    margin-top: 0.5rem;
  }

  .main-modal {
    margin-left: -59%;
  }

  .callMe-button {
    font-size: 13px;
  }

  .text-under-form {
    font-size: 13px;
  }

  .number-bar {
    height: 46px;
  }
}

@media (max-width: 565px) {
  div.container.header {
    padding-left: 4%;
  }

  .header-company-photo {
    width: 340px;
    height: 260px;
  }

  div.company-slogan-button {
    margin-top: 0;
    margin-left: -30px;
  }

  div.row.mt-5.company-name {
    margin-left: -20px;
  }

  div.row.mt-3.slogan {
    margin-left: -15px;
  }

  .connect-button {
    margin-left: -40px;
  }

  .main-modal {
    height: 40%;
    margin-left: -56%;
  }

  .callMe-button {
    font-size: 12px;
    width: 160px;
  }

  .phone-icon-button {
    left: 79%;
  }
}

@media (max-width: 500px) {
  .header-company-photo {
    width: 310px;
    height: 240px;
  }

  div.row.mt-5.company-name {
    margin-left: -30px;
  }

  div.row.mt-3.slogan {
    margin-left: -25px;
    font-size: 23px;
  }

  .connect-button {
    width: 150px;
  }

  div.main-modal {
    margin-left: -56%;
  }

  .number-bar {
    width: 50%;
    height: 44px;
  }

  .callMe-button {
    font-size: 11px;
    width: 150px;
  }
}

@media (max-width: 426px) {
  /*
  div.company-photo-carousel {
    margin-left: 10%;
  }

  div.header-company-photo {
    width: 350px;
    height: 260px;
  }

  div.company-slogan-button {
    margin-left: 35%;
  }*/

  div.company-photo-carousel {
    margin-top: 5%;
  }

  .header-company-photo {
    width: 290px;
    height: 220px;
  }

  .connect-button {
    width: 120px;
    margin-left: -30px;
  }

  div.main-modal {
    margin-left: -65%;
    height: 45%;
    width: 95%;
  }

  .modal-main-text {
    font-size: 14px;
    margin-top: 0.5rem;
  }

  .phone-icon-button {
    left: 76%;
    top: 78%;
  }
}

@media (max-width: 391px) {
  div.company-photo-carousel {
    margin-top: 7%;
  }

  .header-company-photo {
    width: 270px;
    height: 205px;
  }

  div.row.mt-5.company-name {
    margin-left: -30px;
    font-size: 13px;
  }

  div.row.mt-3.slogan {
    margin-left: -25px;
    font-size: 21px;
  }

  .connect-button {
    width: 115px;
    margin-left: -34px;
  }
}

@media (max-width: 376px) {
  input.number-bar.me-2.p-2 {
    width: 50%;
    height: 44px;
  }

  .callMe-button {
    font-size: 11px;
    width: 140px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 360px) {
  div.company-photo-carousel {
    margin-top: 10%;
  }
}

@media (max-width: 349px) {
  .header-company-photo {
    width: 250px;
    height: 195px;
  }
}

@media (max-width: 335px) {
  .header-company-photo {
    width: 220px;
    height: 185px;
  }
  div.company-photo-carousel {
    margin-top: 15%;
  }

  div.company-slogan-button {
    margin-left: -8px;
  }

  input.number-bar.me-2.p-2 {
    width: 60%;
  }

  .callMe-button {
    margin-top: 10px;
    width: 175px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 321px) {
  div.main-modal {
    margin-left: -70%;
  }
}
