@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --main-blue: #005eb2;
  --main-yellow: #ffcc00;
  --text-light: aliceblue;
}

.App {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

.important-text {
  font-size: 23px;
  font-weight: bold;
}

/*ABOUT COMPANY + SERVICES + SECURITYSYSTEMS + PRICES*/

.aboutCompany,
.services {
  margin-top: 100px;
  margin-bottom: 100px;
}

.aboutCompany-chapter-title,
.service-chapter-title,
.securitySystems-chapter-title,
.prices-chapter-title {
  font-weight: bold;
  font-size: 45px;
}

/*ABOUT COMPANY + PRICES*/
.aboutCompany,
.prices {
  background-color: rgb(0, 94, 178, 0.9);
  color: var(--text-light);
  padding-top: 4%;
  padding-bottom: 4%;
}

/*ABOUT COMPANY*/
.info-aboutCompany {
  font-size: 18px;
  padding: 0 20px 0 0;
}

/*SERVICES*/
.service-unit {
  background-color: var(--main-blue);
  padding-bottom: 20px;
  color: var(--text-light);
  border: 1px solid var(--main-blue);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.service-unit:hover {
  background-color: white;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.service-icon {
  color: var(--main-yellow);
}

.service-name {
  margin-top: 25px;
  font-weight: bold;
  font-size: 23px;
}

.service-description {
  font-size: 18px;
}

/*SECURITY SYSYTEMS */
.securitySystems {
  padding: 5% 0;
}

.security-system-description {
  font-size: 21px;
}

.security-system-logo {
  padding-top: 35px;
}

.device-photos {
  margin-top: -50px;
  margin-right: -175px;
}

/*PRICES*/

.prices {
  margin-top: 100px;
  margin-bottom: 20px;
}

.call-to-action {
  font-size: 20.5px;
  color: var(--main-yellow);
  font-weight: bold;
}

.connect-prices-button {
  width: 260px;
  height: 70px;
  background-color: var(--main-yellow);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-size: 21px;
  font-weight: bold;
  color: var(--main-blue);
}

.connect-prices-button:hover {
  background-color: transparent;
  border: 1px solid var(--main-yellow);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  color: var(--main-yellow);
}

.price-modal-window {
  margin-left: 57%;
}

/*NAVBAR*/

.navbar,
footer {
  background-color: var(--main-blue);
  color: var(--text-light);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*NAVBAR + FOOTER*/

.navbar a:hover,
footer a:hover,
footer li:hover {
  color: var(--main-yellow);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.navbar a,
footer a {
  color: var(--text-light);
  text-decoration: none;
}

/*FOOTER*/
.footer-logo img {
  margin-left: -100%;
}

footer .footer-pagecontent-list,
.footer-contacts {
  margin-top: 10px;
}

.footer-pagecontent-list li,
.footer-contacts li {
  padding-bottom: 20px;
}

.footer-contacts li {
  margin-left: -150px;
  font-size: 20px;
}

.footer-pagecontent-list {
  margin-left: -120%;
}

.location {
  margin-right: -9%;
}
